
/* Login Container */
.login-container {
  position: relative;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  animation: slideIn 0.8s ease;
}

/* Form Card */
.form-card {
  padding: 30px 20px;
  border-radius: 15px;
  animation: fadeIn 0.5s ease;
}


.form-card.hidden {
  display: none;
}

.form-card h2 {
  margin: 0;
  color: #9933ff;
  margin-bottom: 15px;
}

.input-group {
  position: relative;
  margin: 15px 0;
  
}

.input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  height: 16px;
  width: 16px;
  transform: translateY(-50%);
  color: #9933ff;
}

.input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border 0.3s;
  box-sizing: border-box;
}

.input-group input:focus {
  border: 1px solid #9933ff;
}

/* Buttons */
.login-btn {
  background: linear-gradient(to right, #9933ff, #ff66cc);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s ease;
  width: 100%;
}

.login-btn:hover {
  background: linear-gradient(to right, #cc33ff, #ff99cc);
  transform: scale(1.05);
}

/* Extra Options */
.extra-options {
  margin-top: 10px;
}

.extra-options a {
  color: #9933ff;
  text-decoration: none;
  font-size: 0.9rem;
  transition: color 0.3s;
}

.extra-options a:hover {
  color: #cc33ff;
}

/* Animations */
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(50px);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}
